<h3 class="lost">YOU LOST!</h3>
<div class="game">
    <img class="hangman" src="{{ url_for('static', filename=game_data.img) }}" alt="Hangman">
    <div class="word">
        <span>The secret title was:</span>
        <br>
        <span class="lost" id="title">{{game_data.secret}}</span>
        <br>
        <span class="info">from {{track_data.album}} by {{track_data.artist}}</span>
    </div>
</div>
<div class="final">
    <a style="border: #fb4934 0.15em solid;" target="_blank" href={{track_data.url}}>
        <img src="{{ url_for('static', filename='img/north_east.svg')}}" alt="Link"> DATA PROVIDED BY DISCOGS
    </a>
    <a href="/play" style="border: white 0.15em solid;">
        <img src="{{ url_for('static', filename='img/refresh.svg')}}" alt="Refresh"> TRY AGAIN
    </a>
</div>