<h3 class="won">YOU WON!</h3>
<div class="game">
    <img class="hangman" src="{{ url_for('static', filename=game_data.img) }}" alt="Hangman">
    <div class="word">
        <span id="title">{{game_data.secret}}</span>
        <br>
        <span class="info">by {{track_data.artist}}</span>
    </div>
</div>
<div class="final">
    <a style="border: #edb730 0.15em solid;" target="_blank" href={{track_data.url}}>
        <img src="{{ url_for('static', filename='img/north_east.svg')}}" alt="Link"> VIEW ON LAST.FM
    </a>
    <a href="/play" style="border: white 0.15em solid;">
        <img src="{{ url_for('static', filename='img/refresh.svg')}}" alt="Refresh"> TRY AGAIN
    </a>
</div>